<dx-tile-view direction="vertical" itemTemplate="pictureViewTemplate" [dataSource]="pictures"
    (onItemClick)="openDetail($event)" [baseItemHeight]="220" [baseItemWidth]="220" [height]="'100%'">
    <div *dxTemplate="let tile of 'pictureViewTemplate'">
        <dxi-item [widthRatio]="1" [heightRatio]="1" class="pointer">
            <div style="padding: 10px">
                {{ tile.title }}
                <img style="padding-top: 10px" [width]="200" [height]="180" [src]="convertBase64ToImage(tile.image)" />
            </div>
        </dxi-item>
    </div>
</dx-tile-view>

<dx-popup [width]="900" [height]="400" [title]="pictureDetail?.title" [showTitle]="true" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="showDetailPopup">
    
    <div *dxTemplate="let data of 'content'">
        <div>
            Creator: <b>{{ pictureDetail.creator?.username || 'No creator found' }}</b> on {{ pictureDetail.creationDate | date: 'dd.MM.yyyy' }}
        </div>
        <div>

        </div>
    </div>
    <dxi-toolbar-item widget="dxButton" toolbar="bottom" location="before" icon="trash" text="Delete">
    <dx-button icon="trash" type="danger" text="Delate" (click)="deleteClick()"></dx-button>
    </dxi-toolbar-item>
</dx-popup>
