<div class="form">
    <div class="dx-field-set">
        <div class="dx-fieldset-header">Become a member</div>
        
        
        <div class="option mt">
            <span>Username</span>
            <dx-text-box name="Username" (onValueChanged)="setUserName($event)">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Username is required"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>

        <div class="option mt">
            <span>Email</span>
            <dx-text-box name="Email" (onValueChanged)="setEmail($event)">
                <dx-validator>
                    <dxi-validation-rule type="email" message="Please select a valid Email"></dxi-validation-rule>
                    <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>

        <div class="option mt">
            <span>Password</span>
            <dx-text-box name="Password" mode="password" (onValueChanged)="setPassword($event)">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>

        <div class="dx-field mt2">
            <dx-button validation class="bt-register" icon="check" type="success" text="Sign up" (click)="registerClick()" [useSubmitBehavior]="true"></dx-button>
        </div>
    </div>  
</div>