.form {
    margin: auto;
    width: 40%;
    min-width: 400px;
}

.bt-register {
    width: 100%;
}

.mt {
    margin: 5px 0;
}

.mt2 {
    margin-top: 20px ;
}

.or-divider {
    margin: 5px 0;
    text-align: center;
}