
<div class="form">
    <div class="dx-field-set">
        <div class="dx-fieldset-header">Log in</div>
        
        
        <div class="option">
            <span>Username</span>
            <dx-text-box name="Username" (onValueChanged)="setUserName($event)">
                <dx-validator>
                    <dxi-validation-rule type="required" message="First Name is required"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>

        <div class="option">
            <span>Password</span>
            <dx-text-box name="Password" mode="password" (onValueChanged)="setPassword($event)">
                <dx-validator>
                    <dxi-validation-rule type="required" message="First Name is required"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>

        <div class="dx-field">
            <dx-button validation class="bt-login" icon="check" type="success" text="Log in" (onClick)="loginClick()" [useSubmitBehavior]="true"></dx-button>
            <dx-button class="bt-cancel" icon="remove" type="normal" text="Cancel" (onClick)="cancelClick()"></dx-button>
        </div>
    </div>  
</div>
