::ng-deep .tui-image-editor-header-logo {
    display: none !important;
}

mat-card {
    background-color: hsl(210, 14%, 85%);
}

.center {
    display: flex;
    justify-content: center;
}

.upload {
    width: 33%!important; 
    min-width: unset!important;
    height: 100px;
    font-size: xx-large;
}
